*
{
	margin: 0;
	padding: 0;
}

html, body
{
	height: 100%;
	width: 100%;
}

footer
{  
	margin: 10px 0 0 0;
	bottom: 0px;    
	width: 100%;
	text-align: center;  
}  

ul li
{
	padding: 5px 10px;
	margin: 5px;
}
#logo
{
	margin: 0px 0px 0px 10%;
	width: 300px;
	height: 120px;
}

#logo img
{
	width: 100%;
	height: 100%;
}

#note
{
	width: 50%;
	padding: 10px;
	margin: 10px;
}

.header-container,
.card-container
{
	display: flex;
}

.header-container
{
	width: 100%;
	height: 100%;
}
.card
{
    width: 100%;
    padding: 10px;
    margin: 2px;
    background: #D3D3D3;
}

.card .card-header
{
	padding: 10px;
	text-align: center;
}

.card .card-content
{
	margin: 10px;
	padding: 10px;

}

.card .card-content ul
{
	padding: 10px;
}

.card .card-content ul li
{
	padding: 5px;
	margin: 3px 0 10px 0;

}

.card .card-footer a
{
	margin: 1px;
	padding: 2px;
}

.card .card-footer
{
	text-align: center;
}
